*{
  margin: 10px 0px;
  padding: 0px;
}
nav{
  margin: 10px;

}
nav span{
  margin: 10px 10px;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;

}
nav span:hover{
  background-color: tomato;
  color: white;
  border-radius: 10px;
  
}